// Here you can add other styles
.card-header {
  background-color: lightblue !important;
  font-size: 1.1rem;
}

.removeMarginBottom .form-group {
  margin-bottom: 0;
}

.quickLink a {
  text-decoration: none;
}

.quickLink a:hover {
  text-decoration: none;
}

.row-styles {
  margin-top: 10px;
  border-top: 1px solid teal;
  // padding-top: 10px;
}

.col-styles {
  border-left: 1px solid teal;
  margin-top: 0;
}
